.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.landing-container {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.search-container {
  position: relative;
  width: 50%;
}

input {
  width: 100%;
  padding: 1rem;
  border-radius: 25px;
  border: 1px solid #ccc;
  font-size: 1.2rem;
}

button {
  position: absolute;
  right: 0px;
  top: 55%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}

i {
  font-size: 2rem;
}

.spinner-container {
  position: absolute;
  right: 50px; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);
}
